/******************************************************************************
 *  This file is part of Retaliator.                                          *
 *                                                                            *
 *  Copyright (C) 2013, 2014  Rouven Spreckels  <n3vu0r@nevux.org>            *
 *                                                                            *
 *  Retaliator is free software: you can redistribute it and/or modify        *
 *  it under the terms of the GNU Affero General Public License version 3 as  *
 *  published by the Free Software Foundation on 19 November 2007.            *
 *                                                                            *
 *  Retaliator is distributed in the hope that it will be useful,             *
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of            *
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             *
 *  GNU Affero General Public License for more details.                       *
 *                                                                            *
 *  You should have received a copy of the GNU Affero General Public License  *
 *  along with Retaliator.  If not, see <http://www.gnu.org/licenses/>.       *
 ******************************************************************************/

body {
	color: white;
	background-color: black;
	font-size: 10pt;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	color: #00d300;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
